* text=auto

*.md text eol=lf
*.txt text eol=lf
*.cmake text eol=lf
CMakeLists.txt text eol=lf
*.h text eol=lf
*.hpp text eol=lf
*.c text eol=lf
*.cpp text eol=lf
*.rc text eol=crlf
*.manifest text eol=crlf

*.ico binary
*.png binary
*.jpg binary
*.jpeg binary
*.pdf binary
*.docx binary

