#include "resource.h"
#include <windows.h>
#pragma code_page(65001)

IDI_MARKDOWNMAY ICON "icons/MarkdownMay.ico"
IDI_MARKDOWN_DOCUMENT ICON "icons/MarkdownMay.documents.md.ico"
IDI_TEXT_DOCUMENT ICON "icons/MarkdownMay.documents.md.ico"
IDR_ABOUT_PORTRAIT_PNG RCDATA "../asset/徐辉标准头像_圆形.png"
IDR_ABOUT_WECHAT_JPG RCDATA "../asset/马冬梅作者微信.jpg"
IDR_ABOUT_GITHUB_PNG RCDATA "../asset/icon/github.png"
IDR_ABOUT_GITEE_PNG RCDATA "../asset/icon/gitee.png"
IDR_ABOUT_EMAIL_PNG RCDATA "../asset/icon/邮箱.png"
IDR_ABOUT_WECHAT_PNG RCDATA "../asset/icon/微信.png"
IDR_TABLER_FOLDER_OPEN_SVG RCDATA "../asset/tabler.io/folder-open.svg"
IDR_TABLER_DEVICE_FLOPPY_SVG RCDATA "../asset/tabler.io/device-floppy.svg"
IDR_TABLER_PRINTER_SVG RCDATA "../asset/tabler.io/printer.svg"
IDR_TABLER_BOLD_SVG RCDATA "../asset/tabler.io/bold.svg"
IDR_TABLER_ITALIC_SVG RCDATA "../asset/tabler.io/italic.svg"
IDR_TABLER_STRIKETHROUGH_SVG RCDATA "../asset/tabler.io/strikethrough.svg"
IDR_TABLER_CODE_SVG RCDATA "../asset/tabler.io/code.svg"
IDR_TABLER_CODEBLOCK_SVG RCDATA "../asset/tabler.io/codeblock.svg"
IDR_TABLER_BLOCKQUOTE_SVG RCDATA "../asset/tabler.io/blockquote.svg"
IDR_TABLER_LIST_SVG RCDATA "../asset/tabler.io/list.svg"
IDR_TABLER_LIST_NUMBERS_SVG RCDATA "../asset/tabler.io/list-numbers.svg"
IDR_TABLER_LIST_CHECK_SVG RCDATA "../asset/tabler.io/list-check.svg"
IDR_TABLER_MINUS_SVG RCDATA "../asset/tabler.io/minus.svg"
IDR_TABLER_ERASER_SVG RCDATA "../asset/tabler.io/eraser.svg"
IDR_TABLER_BORDER_ALL_SVG RCDATA "../asset/tabler.io/border-all.svg"
IDR_TABLER_MARKDOWN_SVG RCDATA "../asset/tabler.io/markdown.svg"
IDR_TABLER_GRID_PATTERN_SVG RCDATA "../asset/tabler.io/grid-pattern.svg"
IDR_TABLER_LAYOUT_COLUMNS_SVG RCDATA "../asset/tabler.io/layout-columns.svg"
IDR_TABLER_AUTOMATIC_GEARBOX_SVG RCDATA "../asset/tabler.io/automatic-gearbox.svg"
IDR_TABLER_TEXT_SIZE_SVG RCDATA "../asset/tabler.io/text-size.svg"
IDR_TABLER_SEARCH_SVG RCDATA "../asset/tabler.io/search.svg"
IDR_TABLER_REPLACE_SVG RCDATA "../asset/tabler.io/replace.svg"
IDR_TABLER_SETTINGS_SVG RCDATA "../asset/tabler.io/settings.svg"
IDR_TABLER_CHEVRON_DOWN_SVG RCDATA "../asset/tabler.io/chevron-down.svg"

IDD_ABOUT DIALOGEX 0, 0, 100, 100
STYLE DS_MODALFRAME | DS_SETFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "关于马冬梅"
FONT 9, "Microsoft YaHei UI"
BEGIN
    CONTROL "", IDC_ABOUT_PORTRAIT, "STATIC", SS_OWNERDRAW | WS_CHILD | WS_VISIBLE, 0, 0, 1, 1
    ICON IDI_MARKDOWNMAY, IDC_ABOUT_APP_ICON, 0, 0, 1, 1, SS_ICON
    LTEXT "马冬梅", IDC_ABOUT_NAME, 0, 0, 1, 1
    LTEXT "Markdown May", IDC_ABOUT_ENGLISH_NAME, 0, 0, 1, 1
    LTEXT "", IDC_ABOUT_VERSION, 0, 0, 1, 1
    LTEXT "轻量、免费、开源的 Windows 原生 Markdown 编辑器", IDC_ABOUT_TAGLINE, 0, 0, 1, 1
    LTEXT "像记事本一样打开、编辑和保存 Markdown。", IDC_ABOUT_DESCRIPTION, 0, 0, 1, 1
    LTEXT "联系作者", IDC_ABOUT_CONTACT_TITLE, 0, 0, 1, 1
    CONTROL "", IDC_ABOUT_EMAIL_ICON, "STATIC", SS_OWNERDRAW | WS_CHILD | WS_VISIBLE, 0, 0, 1, 1
    CONTROL "", IDC_ABOUT_EMAIL_LINK, "SysLink", WS_TABSTOP | WS_CHILD | WS_VISIBLE, 0, 0, 1, 1
    CONTROL "", IDC_ABOUT_WECHAT_ICON, "STATIC", SS_OWNERDRAW | WS_CHILD | WS_VISIBLE, 0, 0, 1, 1
    CONTROL "", IDC_ABOUT_WECHAT_LINK, "SysLink", WS_TABSTOP | WS_CHILD | WS_VISIBLE, 0, 0, 1, 1
    CONTROL "", IDC_ABOUT_GITHUB_ICON, "STATIC", SS_OWNERDRAW | WS_CHILD | WS_VISIBLE, 0, 0, 1, 1
    CONTROL "", IDC_ABOUT_GITHUB_LINK, "SysLink", WS_TABSTOP | WS_CHILD | WS_VISIBLE, 0, 0, 1, 1
    CONTROL "", IDC_ABOUT_GITEE_ICON, "STATIC", SS_OWNERDRAW | WS_CHILD | WS_VISIBLE, 0, 0, 1, 1
    CONTROL "", IDC_ABOUT_GITEE_LINK, "SysLink", WS_TABSTOP | WS_CHILD | WS_VISIBLE, 0, 0, 1, 1
    CONTROL "", IDC_ABOUT_ISSUES_LINK, "SysLink", WS_TABSTOP | WS_CHILD | WS_VISIBLE, 0, 0, 1, 1
    CONTROL "", IDC_ABOUT_SEPARATOR, "STATIC", SS_ETCHEDHORZ | WS_CHILD | WS_VISIBLE, 0, 0, 1, 1
    LTEXT "© 2026 徐行不记山 · nominz · MIT License", IDC_ABOUT_COPYRIGHT, 0, 0, 1, 1
    DEFPUSHBUTTON "关闭", IDC_ABOUT_CLOSE, 0, 0, 1, 1
END

IDD_WECHAT DIALOGEX 0, 0, 100, 100
STYLE DS_MODALFRAME | DS_SETFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "联系作者 · 微信"
FONT 9, "Microsoft YaHei UI"
BEGIN
    CONTROL "", IDC_WECHAT_QR, "STATIC", SS_OWNERDRAW | WS_CHILD | WS_VISIBLE, 0, 0, 1, 1
    CTEXT "微信号：nominz", IDC_WECHAT_HINT, 0, 0, 1, 1
    DEFPUSHBUTTON "关闭", IDOK, 0, 0, 1, 1
END
