#include "resource.h"
#include <windows.h>
#pragma code_page(65001)

IDI_MARKDOWNMAY ICON "icons/MarkdownMay.ico"
IDI_MARKDOWN_DOCUMENT ICON "icons/MarkdownMay.documents.md.ico"
IDI_TEXT_DOCUMENT ICON "icons/MarkdownMay.documents.md.ico"
IDR_ABOUT_PORTRAIT_PNG RCDATA "../asset/徐辉标准头像_圆形.png"
IDR_ABOUT_WECHAT_JPG RCDATA "../asset/马冬梅作者微信.jpg"
IDR_ABOUT_GITHUB_PNG RCDATA "../asset/icon/github.png"
IDR_ABOUT_GITEE_PNG RCDATA "../asset/icon/gitee.png"
IDR_ABOUT_EMAIL_PNG RCDATA "../asset/icon/邮箱.png"
IDR_ABOUT_WECHAT_PNG RCDATA "../asset/icon/微信.png"

IDD_ABOUT DIALOGEX 0, 0, 100, 100
STYLE DS_MODALFRAME | DS_SETFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "关于马冬梅"
FONT 9, "Microsoft YaHei UI"
BEGIN
    CONTROL "", IDC_ABOUT_PORTRAIT, "STATIC", SS_OWNERDRAW | WS_CHILD | WS_VISIBLE, 0, 0, 1, 1
    ICON IDI_MARKDOWNMAY, IDC_ABOUT_APP_ICON, 0, 0, 1, 1, SS_ICON
    LTEXT "马冬梅", IDC_ABOUT_NAME, 0, 0, 1, 1
    LTEXT "Markdown May", IDC_ABOUT_ENGLISH_NAME, 0, 0, 1, 1
    LTEXT "", IDC_ABOUT_VERSION, 0, 0, 1, 1
    LTEXT "轻量、免费、开源的 Windows 原生 Markdown 编辑器", IDC_ABOUT_TAGLINE, 0, 0, 1, 1
    LTEXT "像记事本一样打开、编辑和保存 Markdown。", IDC_ABOUT_DESCRIPTION, 0, 0, 1, 1
    LTEXT "联系作者", IDC_ABOUT_CONTACT_TITLE, 0, 0, 1, 1
    CONTROL "", IDC_ABOUT_EMAIL_ICON, "STATIC", SS_OWNERDRAW | WS_CHILD | WS_VISIBLE, 0, 0, 1, 1
    CONTROL "", IDC_ABOUT_EMAIL_LINK, "SysLink", WS_TABSTOP | WS_CHILD | WS_VISIBLE, 0, 0, 1, 1
    CONTROL "", IDC_ABOUT_WECHAT_ICON, "STATIC", SS_OWNERDRAW | WS_CHILD | WS_VISIBLE, 0, 0, 1, 1
    CONTROL "", IDC_ABOUT_WECHAT_LINK, "SysLink", WS_TABSTOP | WS_CHILD | WS_VISIBLE, 0, 0, 1, 1
    CONTROL "", IDC_ABOUT_GITHUB_ICON, "STATIC", SS_OWNERDRAW | WS_CHILD | WS_VISIBLE, 0, 0, 1, 1
    CONTROL "", IDC_ABOUT_GITHUB_LINK, "SysLink", WS_TABSTOP | WS_CHILD | WS_VISIBLE, 0, 0, 1, 1
    CONTROL "", IDC_ABOUT_GITEE_ICON, "STATIC", SS_OWNERDRAW | WS_CHILD | WS_VISIBLE, 0, 0, 1, 1
    CONTROL "", IDC_ABOUT_GITEE_LINK, "SysLink", WS_TABSTOP | WS_CHILD | WS_VISIBLE, 0, 0, 1, 1
    CONTROL "", IDC_ABOUT_ISSUES_LINK, "SysLink", WS_TABSTOP | WS_CHILD | WS_VISIBLE, 0, 0, 1, 1
    CONTROL "", IDC_ABOUT_SEPARATOR, "STATIC", SS_ETCHEDHORZ | WS_CHILD | WS_VISIBLE, 0, 0, 1, 1
    LTEXT "© 2026 徐行不记山 · nominz · MIT License", IDC_ABOUT_COPYRIGHT, 0, 0, 1, 1
    DEFPUSHBUTTON "关闭", IDC_ABOUT_CLOSE, 0, 0, 1, 1
END

IDD_WECHAT DIALOGEX 0, 0, 100, 100
STYLE DS_MODALFRAME | DS_SETFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "联系作者 · 微信"
FONT 9, "Microsoft YaHei UI"
BEGIN
    CONTROL "", IDC_WECHAT_QR, "STATIC", SS_OWNERDRAW | WS_CHILD | WS_VISIBLE, 0, 0, 1, 1
    CTEXT "微信号：nominz", IDC_WECHAT_HINT, 0, 0, 1, 1
    DEFPUSHBUTTON "关闭", IDOK, 0, 0, 1, 1
END
